# STRING

# Strings [  ]

Strings are sequence of Characters

string is immutable data type

 strings in Python are arrays of bytes representing unicode characters.
 
However, Python does not have a character data type, a single character is simply a string with a length of 1.Square brackets can be used to access elements of the string.

if N characters or elements are there in a string then

the index range will vary from 0 to N-1 for example is "ratan" N = 5 index value is ranging from 0 to 4

to index in reverse order the index ranges from -1 to -N

# creating string

In [ ]:
a='data'
b="data"
c='''data'''
d="""data"""

In [89]:
## String indexing  & slicing

name = "DATA SCIENCE"

name[1:4]

'ATA'

In [8]:
name[0:4]  #  0,1,2,3,4 -->  this will not include 4 .  N-1
#name[-1:-4]
#name[:]

'DATA'

In [91]:
# negative indexing

name[-1]

'E'

In [93]:
name[1:10:2]

'AASIN'

In [10]:
name[-2]

'C'

In [17]:
#[start, end, jump]
name[::2]

'DT CEC'

In [13]:
# this is used to reverse the given string

name1 ='python group'
name1[::-1]

'puorg nohtyp'

In [15]:
# when the step size is negative then the starting no. must be larger

name1 ='python group'
name1[10:2:-1]

'uorg noh'

In [17]:
# negative indexing

a= 'hello world'
a[-5:]

'world'

'l'

In [19]:
# index 0123456789
data = input("enter date of birth in the format DD/MM/YYYY: ")



date = data[0:2]
month = data[3:5]
year = data[6:]

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MM/YYYY: 54
The user was born in the month of  in the year:  on date: 54

# write  a program to check that string is palindrome or not

radar
eve
tenet

# String is an example of an immutable datatype.

In [21]:
name = "data science"
# Replace R with F?
name[0] = "F" 
# python is string is immutablility  (can't change)

TypeError: 'str' object does not support item assignment

In [26]:
#ANOTHER WAY TO CHANGE THE sting
# we cant change the string bcz it is immutable
#but trhough thIS we can change
name2 ="data scice"
print(name2)
name2 =  "D" + name2[1:]
print(name2)

data science
Data science

In [28]:
# we can del the whole the whole string but not the portion of string

del(name2)

In [51]:
# can use replace
work = "preparing for data science"

work1 = work.replace("data", "DATA")
print(work1)

preparing for DATA science

# functin in python

 - len
 - max
 - min
 - sorted
 - Capitalize
 - Title
 - Upper
 - Lower
 - Swapcase
 - count
 - find
 - index
 - endswith
 - startwith
 - format
 - isalnum
 - isalpha
 - isdigit
 - isidentifier
 - split
 - join
 - replace
 - strip

In [52]:
'data science'

'data science'

In [54]:
len('data science')

12

In [55]:
max('data science')

't'

In [56]:
min('data science')

' '

In [57]:
sorted('data sciecne')

[' ', 'a', 'a', 'c', 'c', 'd', 'e', 'e', 'i', 'n', 's', 't']

https://docs.python.org/3/library/string.html  -> string documentation

# length of string

In [26]:
a = "study in group"
len(a)

14

In [27]:
b=3
a=[5,2,1,5,1,2]
len(b)

TypeError: object of type 'int' has no len()

# count

In [28]:
a = 'DATA SCIENCE MAJA AA RAHA HAI ?'
a.count("A")

9

In [67]:
# also work for int type
b= 1,2,3,5,2,5,1,7,4,7,1
b.count(1)

3

In [ ]:
# FIND


# find show the postion

In [68]:
'here we are revising python'.find('we')

5

In [70]:
'here we are revising python'.find('not')

# is a string what ever we finding and if that string is not present then it weill return -1

-1

In [ ]:
# Index

# if someting is not present then it will through error for this

In [71]:
'here we are revising python'.index('we')

5

In [73]:
'here we are revising python'.index('not')

ValueError: substring not found

# split , join

In [58]:
name = "DATA SCIENCE"
name.split("A")

# we can split a string 

# if nothing is pass then it split on the bases of spaces " "

['D', 'T', ' SCIENCE']

In [59]:
" ".join(['D', 'T', ' SCIENCE'])

'D T  SCIENCE'

In [62]:
" ".join(['hi', 'my', 'name', 'is', 'ratan'])

'hi my name is ratan'

In [83]:
"- ".join(['hi', 'my', 'name', 'is', 'ratan'])

'hi- my- name- is- ratan'

In [64]:
data = input("enter date of birth in the format DD/MM/YYYY: ")
date, month, year = data.split("/")

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MM/YYYY: 20/04/1996
The user was born in the month of 04 in the year: 1996 on date: 20

In [66]:
name1 =input("enter your full name : with space")
f_name,m_name, l_name = name1.split(" ")
print(f"name : {f_name} middle name : {m_name}")

enter your full name : with spaceRATAN KUMA RJHA
name : RATAN middle name : KUMA

# lower, upper case

In [35]:
course = "intellipaat"
course.upper()

'INTELLIPAAT'

In [36]:
course = " ABCDEFGHIJKLMNOPQRSTUVWXYZ"
course.lower()

' abcdefghijklmnopqrstuvwxyz'

In [35]:
name = "here We ArE TryING To learn data SCIENCE"

print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}") # 
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}")

user input: here We ArE TryING To learn data SCIENCE
name in upper case: HERE WE ARE TRYING TO LEARN DATA SCIENCE
name in lower case: here we are trying to learn data science
name in title case: Here We Are Trying To Learn Data Science
name in capitalize case: Here we are trying to learn data science
name in swapcase case: HERE wE aRe tRYing tO LEARN DATA science

## Operations on Strings

- Arithmetic Operations -- work ok addition and multiplication
- Relational Operations -- all work (<,>,>= ....)
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('some' + ' ' + 'one')

In [ ]:
print('*'*50)

In [30]:
print('delhi'*5)
print('*'*50)

delhidelhidelhidelhidelhi
**************************************************

In [33]:
'data'=='Data'

False

In [34]:
'course'< 'data'

# here we are not comparing on the bases on len. 
# but here we are comparing on the bases of the ascii value

True

In [40]:
# string can iterate

for i in 'hello everyone':
  print(i)

h
e
l
l
o

e
v
e
r
y
o
n
e

In [42]:
'D' in 'delhi'

False

In [36]:
"d" in "delhi"

True

In [50]:
'd' not in 'delhi'

False

In [ ]:
# use of AND , OR in string

In [ ]:
# EMPTY STRING IN PYTHON IS FALSE
# STRING WITH CHARCHTER IS TRUE

In [38]:
'data' and 'science'

'science'

In [39]:
'' and 'science'

''

In [42]:
'' or 'science'

'science'

In [43]:
'' and ''

''

# sorted

In [48]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [49]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

# join,replace

In [87]:
name = "data science revision"

"*".join(name)

'd*a*t*a* *s*c*i*e*n*c*e* *r*e*v*i*s*i*o*n'

In [88]:
" ".join(['hi', 'my', 'name', 'is', 'ratan'])

'hi my name is ratan'

In [45]:
name = "RATAN KUMAR JHA"

"|".join(name)

'R|A|T|A|N| |K|U|M|A|R| |J|H|A'

In [85]:
name1= "data science revision"
" ".join(name1)

'd a t a   s c i e n c e   r e v i s i o n'

In [47]:
name = "data science revision"

name.replace(" ", "|")

'data|science|revision'

In [86]:
name1.replace('revision','learning')

'data science learning'

### remove extra spaces front and back of the string

# STRIP, LSTRIP ,RSTRIP

In [50]:
name = "  ratan   "
name.strip(" ")

'ratan'

In [51]:
name = "ratan ========"
name.strip("=")

'ratan '

In [ ]:
#center

In [77]:
name = "data"

name.center(10, "&")

'&&&data&&&'

# checking string

- ISUPPER
- ISLOWER
- ISSPACE
- ISTITLE

#THESE ALL WILL RETURN IN BOOLEAN VALUE

In [74]:
name = "KITNE BAAR LIKHU"
name.islower()

False

In [54]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
  print(f"user has given correct input")
elif name.isspace():
  print(f"Wrong input please try again!!")
else:
  print(f"wrong input we need to autocorrect it")
  name = name.title()
  print(f"Correct output: {name}")

Enter your name:
user input:
wrong input we need to autocorrect it
Correct output:

# is digit

In [56]:
phone_number = "1308580135"
phone_number.isdigit()    #5424@678678

True

In [75]:
phone_number = "1308580135ggg"
phone_number.isdigit()

False

# startswith  & endwith

In [58]:
phone_number.startswith("9")

False

In [59]:
phone_number = "+914523452345"

phone_number.startswith("+91")

True

In [60]:
'my name is ratan'.endswith('an')

True

In [ ]:
'imratankj@gmail.com'.endswith('@gmail.com')

# isalnum

In [79]:
PAN_NUMBERS = "AYEPC5656X"
PAN_NUMBERS.isalnum() # Check for alpha numeric case

True

In [80]:
#isidentifier

# this is use to check  whether it is correct identifer or not

In [81]:
# isalpha()

In [82]:
'ratan'.isalpha()

True

## write a program  enter a user input phone phone , start with +91 , total length 13, all should be no. check digit, none of the no. repeat more then 7.

In [ ]:
+918767898764

# format

#name = 'ratan'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

In [78]:
name= 'ratan'
gender ='male'
'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is ratan and I am a male'

# string interview question