### What are Lists

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.
In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

- list are dynamic size or flexible
- list are hetrogenous (can store diff type of data type)
- list take more time while execution(slower)
- list occupy more space in memory in compared to array
- Lists are mutable, i.e., they can be edited
- Lists consist of many built-in functions.
-

## Characterstics of a List

- Ordered 
- Changeble/Mutable
- Hetrogeneous (diff type of datatype)
- Can have duplicates
- are dynamic (list can inc the size )
- can be nested  (list inside a lsit)
- items can be accessed 
- can contain any kind of objects in python

In [1]:
#empty list

In [2]:
print([])

[]

In [3]:
print([1,2,3])

[1, 2, 3]

In [5]:
print([1,2,3,[3,4]])

# this is hetrogenous list (3 interger and 1 list)

[1, 2, 3, [3, 4]]

In [6]:
print([4,False,1.6,5+6j,'Hello'])

[4, False, 1.6, (5+6j), 'Hello']

In [11]:
print(list('data'))

['d', 'a', 't', 'a']

In [7]:
my_list = ['A string',23,100.232,'o',True]

In [13]:
my_list

['A string', 23, 100.232, 'o', True]

In [ ]:
# len

In [10]:
len(my_list)

5

In [ ]:
# type

In [12]:
A = [1,2,3,4,5.0, "ratan", 1+2j, True]

type(A)

list

In [ ]:
#indexing and slicing

In [14]:
A[0]

1

In [15]:
A[-1]

True

In [17]:
A[-5:-1]

[4, 5.0, 'ratan', (1+2j)]

In [18]:
# indexing in 2-d list

In [19]:
s=([1,2,3,4,[5,6,7],5,3])
s

[1, 2, 3, 4, [5, 6, 7], 5, 3]

In [23]:
s[4][1]

6

In [24]:
w=[[[1,2],[3,4]],[[4,5],[6,7]]]

In [25]:
w

[[[1, 2], [3, 4]], [[4, 5], [6, 7]]]

In [29]:
w[0][0][1]

2

In [ ]:
#start, end , step

In [31]:
a=[1,2,3,4,5,6,7,3,4,6]

In [34]:
a[::2]

[1, 3, 5, 7, 4]

In [35]:
A = [1,2,3,4,5.0, "ratan", 1+2j, True]
A[::2]

[1, 3, 5.0, (1+2j)]

In [33]:
# reverse the list

a[::-1]

[6, 4, 3, 7, 6, 5, 4, 3, 2, 1]

In [37]:
A = [1,2,3,4,5.0, "ratan", 1+2j, True]

for i in range(0,8):
    print(i,A[i])

0 1
1 2
2 3
3 4
4 5.0
5 ratan
6 (1+2j)
7 True

In [38]:
for i in range(len(A)):
  print(f"i={i}, value={A[i]}, datatype={type(A[i])}")

i=0, value=1, datatype=<class 'int'>
i=1, value=2, datatype=<class 'int'>
i=2, value=3, datatype=<class 'int'>
i=3, value=4, datatype=<class 'int'>
i=4, value=5.0, datatype=<class 'float'>
i=5, value=ratan, datatype=<class 'str'>
i=6, value=(1+2j), datatype=<class 'complex'>
i=7, value=True, datatype=<class 'bool'>

In [ ]:
### Updating list element at specific index

In [56]:
my_list= (['alpha',1,2,3.0,True,'name'])

In [57]:
my_list

['alpha', 1, 2, 3.0, True, 'name']

In [58]:
my_list[3] = 6
print("New value at index 3: ", my_list[3])

New value at index 3:  6

In [59]:
my_list

['alpha', 1, 2, 6, True, 'name']

In [ ]:
# we can concate in the list

In [60]:
my_list + ['new item',5]

['alpha', 1, 2, 6, True, 'name', 'new item', 5]

>**Note:** This doesn't actually change the original list!

In [61]:
my_list

['alpha', 1, 2, 6, True, 'name']

In [55]:
# if we want this as permanent change then we have to assign this in a new variable

In [62]:
# Reassign
# IN STRING  WE CANT ASSIGN ANY VALUE  BUT IN LIST WE CAN  ASSIGN A NEW VALUE

# BCZ STRING IS IMMUTTABLE  BUT A LIST IS MUTTABLE


my_list = my_list + ['ratan']

In [63]:
my_list

['alpha', 1, 2, 6, True, 'name', 'ratan']

# operation that can be used in list

In [ ]:
#arithemetic  ( + , *) (addition  and multiplication can used)
# membership operator (  in and not in)

In [65]:
a=[1,2,3]
b=[3,4,5,6]
print(a)
print(b)

[1, 2, 3]
[3, 4, 5, 6]

In [66]:
a+b
# but this is not a permamnet change

# we have to assign this into a new variable to permamnently change

[1, 2, 3, 3, 4, 5, 6]

In [ ]:
# repetation of list

In [68]:

a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
a*a

TypeError: can't multiply sequence by non-int of type 'list'

In [71]:
a+a

[1, 2, 3, 1, 2, 3]

In [ ]:
# membership operator

In [119]:
a=[2,3,4,6,7]
b=[4,6,2,[4,5,3],2,5]

In [120]:
4 in a

True

In [121]:
4 not in a

False

In [122]:
[4,5,3] in b

True

# adding item in list

In [ ]:
# append is use to add 1 item in list
# extend is used to add multiple item in the list

# append and extend add in the last of the list

In [73]:
# append
L = [1,2,3,4,5]
L.append(False)
print(L)

[1, 2, 3, 4, 5, False]

In [74]:
a

[1, 2, 3]

In [95]:
# extend

**extend: extends list by appending elements from the iterable. It will append content of list elements to the existing list**

In [76]:
a.extend([8,3,2])

In [77]:
a

[1, 2, 3, 8, 3, 2]

In [79]:
l=[1,2,3,5,6]
l.append([2,3,5])
l

[1, 2, 3, 5, 6, [2, 3, 5]]

In [81]:
L = [1,2,3,4,5,4,5,2]
L.extend('data')
print(L)

[1, 2, 3, 4, 5, 4, 5, 2, 'd', 'a', 't', 'a']

In [96]:
l1 = ["data","DS","AI"]
l2 = list(range(5))
print("extended list")
l1.extend(l2)
l1

extended list

['data', 'DS', 'AI', 0, 1, 2, 3, 4]

In [98]:
l1 = ["data","DS","AI"]
l2 = list(range(5))
print("append list")
l1.append(l2)
l1

append list

['data', 'DS', 'AI', [0, 1, 2, 3, 4]]

In [ ]:
# insert

In [86]:
a=[2,3,4,6,6]
a.insert(2,30)
a


# at which position and what to add

[2, 3, 30, 4, 6, 6]

# list is muttable data type

In [88]:
s='data science'
s[0]='C'

TypeError: 'str' object does not support item assignment

In [90]:
l =[1,2,4,6,2]

In [91]:
l[1]=3

In [92]:
l

[1, 3, 4, 6, 2]

In [93]:
l[1:4]=[20,30,40]

In [94]:
l

[1, 20, 30, 40, 2]

In [ ]:
# len

In [ ]:
a=['a',2,3,4.5,True]

In [99]:
len(a)

6

In [ ]:
# max

In [100]:
example = [1,45,999,10]

max(example)

999

In [128]:
a=['a',2,4,4.5]
max(a)

# max &  min only work on homogenous data type

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
# min

In [101]:
min(example)

1

# deleting item from list

In [ ]:
# del
#remove
# pop
#clear

In [ ]:
# del

In [102]:
l

[1, 20, 30, 40, 2]

In [103]:
del(l)

In [105]:
# can also del item wise using slicing and indexing

a = [1,2,43,4]

In [106]:
del a[-1]

In [107]:
a

[1, 2, 43]

In [ ]:
# remove

In [109]:
b=[2,3,5,6,2,6,7,8]

# with using remove  , we can remove element using value

In [110]:
b.remove(6)
b

[2, 3, 5, 2, 6, 7, 8]

In [116]:
# pop

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [ ]:
# pop can be used by giving index
# pop can be used to del the last function-- the default behaviour is to del the last item

In [113]:
c=[3,3,52,5,7,3,7,2]

In [114]:
c.pop(2)

52

In [115]:
c.pop()

2

In [ ]:
# clear

In [ ]:
# clear is used to del all the element in the list.. and it return the empty string

In [117]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

# len,sort , sorted and reverse

In [127]:
a=[1,2,4]
len(a)

3

In [ ]:
# sorted temprory change
# sort permanent change

In [129]:

A = [1,45, 67, 98, -34]

sorted(A)

# by default ascending order

[-34, 1, 45, 67, 98]

In [124]:
A

[1, 45, 67, 98, -34]

In [131]:

A = [1,45, 67, 98, -34]

print(sorted(A,reverse=True))


# by using reverse it change to descending order

[98, 67, 45, 1, -34]

In [ ]:
# sort - permanent change

In [125]:
A = [1,45, 67, 98, -34]

A.sort() # permanent change

In [126]:
A

[-34, 1, 45, 67, 98]

In [ ]:
# count

In [133]:
a=[2,3,4,52,2,3,6,2,7,8,3,2]

In [134]:
a.count(2)

4

In [ ]:
# index

In [136]:
# it talk about the index

In [137]:
a

[2, 3, 4, 52, 2, 3, 6, 2, 7, 8, 3, 2]

In [135]:
a.index(3)

1

In [ ]:
# reverse

# pemamnently change the list

In [ ]:
a=[2,3,4,5,2,32,6,23,6,32]

In [138]:
a.reverse()

In [139]:
a

[2, 3, 8, 7, 2, 6, 3, 2, 52, 4, 3, 2]

In [141]:
new_list = ['a','e','x','b','c']

In [142]:
new_list.reverse()

In [143]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# copy

In [144]:
l=[2,3,4,5,2,3]
a=l.copy()

In [145]:
a

[2, 3, 4, 5, 2, 3]

# Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures.

In [146]:
a=[1,2,3]
b=[3,4,5]
c=[4,5,6]
d=[a,b,c]

In [147]:
d

[[1, 2, 3], [3, 4, 5], [4, 5, 6]]

In [148]:
d[0]

[1, 2, 3]

In [149]:
d[1][0]

3

# list comprehension

newlist=[expression for item in iterable if condition = True]

In [151]:
#Without list comprehension
l=[]
for i in range(20):
    if i%2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [153]:
letter=[i for i in range(20) if i%2==0]
letter

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [160]:
v=[2,3,4]
s=3
v*3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [159]:
x=[]
for i in v:
    x.append(i*s)
print(x)

[6, 9, 12]

In [161]:
[s*i for i in v]

[6, 9, 12]

In [ ]:
# square of a list

In [164]:
a=[1,2,3,4,2]

In [165]:
[i**2 for i in a]

[1, 4, 9, 16, 4]

In [166]:
l = []
for i in range(20):
    if i%2 != 0:
        l.append("Odd")
    else:
        l.append("Even")
l

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [171]:
['even' if i%2==0 else 'odd' for i in range(20) ]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [168]:
# print all no. divisible by 3 in range of(1,40)
[i for i in range(40) if i%3==0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [167]:
for i in range(40):
    if i %3==0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39

In [176]:
# find languages which start with letter p
languages = ['hindi','english','marathi','mathili','kannad']

[i for i in languages if i.startswith('m')]

['marathi', 'mathili']

In [173]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [175]:
for i in L1:
    for j in L2:
        print(i*j)

5
6
7
8
10
12
14
16
15
18
21
24
20
24
28
32