# if - else & for loop

## Loops
1. While loop
2. For loop
3. Loop control
  - break
  - continue
  - pass
4. Nested loop

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
and also use in range

In [48]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    print(i)

12
75
150
180
145
525
50

In [33]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [38]:
for i in range(1, 11):
    print(f"10 X {i} = {10*i}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Q1. Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [29]:
n = [12, 75, 150, 180, 145, 525, 50]

lar = n[0]
for i in n:
    if i > lar:
        lar = i
        
print(lar)

525

In [ ]:
Q2. Print all the even number between (1, 12).

In [22]:
for i in range(1,13):
    if i%2==0:
        print(i)

2
4
6
8
10
12

In [23]:
a= int(input('enter a no. for factorial'))
fact=1
for  i in range(1,a+1):
    fact=fact*i
    print(fact)
print(f'factorial is{fact}')

enter a no. for factorial5
1
2
6
24
120
factorial is120

In [25]:
a= int(input('enter a no'))
b=0
c=1
print(b, end =' ')
print(c, end= ' ')
    
for i in range(a):
    d=b+c
    b=c
    c=d
    print(d,end=' ')

enter a no5
0 1 1 2 3 5 8

In [31]:
a= 'datascience'
count=0
for i in a:
    
    count=count + 1
    print(count)
   
print(count)

1
2
3
4
5
6
7
8
9
10
11
11

In [ ]:
Q3. Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is:  55

In [32]:
a= int(input('enter a num'))
sum=0
for i in range(a+1):
    sum=sum+i
print(sum)

1+2+3+4+5

enter a num5
15

In [ ]:
Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [13]:
# Given:

num = [12, 75, 150, 180, 145, 525, 50]
for i in num:
    if i%5==0:
        if i > 150:
            continue
        elif i >500:
            break
        else:
            print(i)
    
    else:
        print('no. is not divisible by 5')

no. is not divisible by 5
75
150
145
50

In [ ]:
Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [30]:
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

## IndexError: list index out of range error for the following reasons:

 - Trying to access an index that doesn't exist in a list.
 - Using invalid indexes in your loops.
 - Specifying a range that exceeds the indexes in a list when using the range() function.

## Why the "TypeError: 'int' object is not subscriptable Error" Occurs

 - You can iterate over a string, list, tuple, or even dictionary. But it is not possible to iterate over an integer or set of numbers.

 - So, if you get this error, it means you’re trying to iterate over an integer or you’re treating an integer as an array.

##  “TypeError: ‘list’ object cannot be interpreted as an integer” error

Many built-in functions, like range(), expect integer values as an input. If you try to use a list as an input to a function that expects an integer.

## SyntaxError 

occurs when the interpreter encounters invalid syntax in code

Online Food orders - Zomato App, Swiggy, Uber Eats

- if you order more than Rs.499
  - discount = 20%
- if you order more than Rs.999
  - discount = 30%
- if you order more than 1499
  - discount = 40%

# print if the no is negative or positive

# write a program for bank

In [ ]:
# bank 
pin = 'password'
balance = 10000

menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
    current_pin= input('enter your current pin')
    if current_pin == pin:
        print('pin is match')
        new_pin=input('enter a new pin')
        new_pin = pin
        print('pin has been changed')
    else:
        print('pin is not match so that u cant change your pin')

elif menu == '2':
    print('balance')

elif menu == '3':
    pass

elif menu == '4':
    print('exit from bank')

In [39]:
for i in range(1, 11):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# break

# searching is an example of break

In [42]:
for i in range(1, 100):
  print(i)
  if i > 10:
    break

1
2
3
4
5
6
7
8
9
10
11

### continue

The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

continue is used for skip 
ex.. in e-commerce if any product is not available

In [46]:
for var in "Geeksforgeeks":
    if var == "e":
        continue
    print(var)

G
k
s
f
o
r
g
k
s

In [47]:
for var in "Geeksforgeeks":
    if var == "e":
        break
    print(var)

G

In [44]:
for i in range(1, 20):
  if i%2==0: # if no is even then start the loop again
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
## nested if - else

In [ ]:
a, b, c = 120, 13, 15

if a > b:
  if a > c:
    print(f"a is greater than all 3 nos: {a}")

# nested for loop

In [68]:
a= 4
for i in range(a):
    for j in range(i):
        #print("i = " + str(i) + ", j = " + str(j))
        print(i*j)

0
0
2
0
3
6

In [69]:
a= 4
for i in range(a):
    #print(i)
    for j in str(i):
        #print(j)
        print(j*i)

1
22
333

###  Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

### Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

### - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [19]:
b=0
c=1
a=int(input('enter a no'))
print(b,end=' ')
print(c,end=' ')
for i in range(a):
    d=b+c
    print(d,end=' ')
    b=c
    c=d

enter a no5
0 1 1 2 3 5 8

# find the factorial

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [6]:
num = 76542
reversed_num = 0

while num != 0:
    digit = num % 10
    print(f'digit is {digit}')
    reversed_num = reversed_num * 10 + digit
    print(f'the reversed_num is {reversed_num}')
    num =num// 10
    print(num)

print("Reversed Number: " + str(reversed_num))

digit is 2
the reversed_num is 2
7654
digit is 4
the reversed_num is 24
765
digit is 5
the reversed_num is 245
76
digit is 6
the reversed_num is 2456
7
digit is 7
the reversed_num is 24567
0
Reversed Number: 24567

### : Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. 

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
#Prime numbers are natural numbers that are divisible by only 1 and the number itself

# no. is prime or not

In [72]:
n=int(input())
isprime =True
if n==1:
    isprime = False
else:
    for i in range (2,n):
        if n%i ==0:
            isprime= False
if isprime == True:
    print(n,"is a prime no.")
else:
    print(n,"not a prime no.")

11
11 is a prime no.

In [35]:

for i in range(1,4):
    for j in range(1,4):
        print(i,j)
    print('*'*10)

1 1
1 2
1 3
**********
2 1
2 2
2 3
**********
3 1
3 2
3 3
**********

In [36]:
for

SyntaxError: invalid syntax (1235331270.py, line 1)

In [43]:
for i in range(1,6):
    for j in range(1,i):
        print(j,end= ' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [1]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [2]:
for i in range(1,4):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *

In [3]:
row = int(input('enter number of rows'))

for i in range(1,row+1):
    
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end=' ')
        
    print()

enter number of rows5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [15]:
#prime of not

for i in range(2,100):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# find the length of string

In [20]:
# write a program take a user input and calculate the length of that . without using len function 

a= input("enter a series of no. to find the length")
count= 0
for i in a:
    count = count+1  #1+1   2+1 3  3+2 = 5   5
    
    
    #print(count)
print(count)

enter a series of no. to find the length2345
4