# Tuple ()

- immutable
- ordered(order of tuple matter)
- allow duplicates


- Tuple elements/items are ordered, meaning each element has a defined position that will not change
- Immutable means that once the tuple is created, we cannot change, add or remove items to or from the Tuple.

In [ ]:
# tuple are faster then list -- bcz it is immutable

# memory -  less memory -- bcz it is immutable

# less function then list

# there are less chance of mistake . bcz it is immutable

# main diff b/w list and tuple is mutability

In [45]:
a=()
a

()

In [48]:
a=[1]
a

[1]

In [53]:
a=(1,)

In [54]:
type(a)

tuple

In [3]:
type(a)

tuple

In [44]:
b=(1,2,3,'ra',32.432,True)

In [5]:
b

(1, 2, 3, 'ra', 32.432, True)

In [6]:
type(b)

tuple

In [7]:
b=(1,2,4,(4,5,6))
b

(1, 2, 4, (4, 5, 6))

In [55]:
s=(1,2,3,5,6,7,3)
s

(1, 2, 3, 5, 6, 7, 3)

In [ ]:
# we can use indexing and slicing to fetch the item from the tuple

In [56]:
s[0]

1

In [57]:
s[-1]

3

In [58]:
s[2:4]

(3, 5)

In [60]:
s[::-1]

(3, 7, 6, 5, 3, 2, 1)

In [61]:
s[-4:-1]

(5, 6, 7)

In [11]:
s[-1]

3

In [12]:
s[0:4]

(1, 2, 3, 5)

In [13]:
s[-5:-1]

(3, 5, 6, 7)

In [14]:
s[::-1]

(3, 7, 6, 5, 3, 2, 1)

In [26]:
s[-1:-5:-1]

(3, 7, 6, 5)

In [ ]:
# edit

In [66]:
s

(1, 2, 3, 5, 6, 7, 3)

In [63]:
a=[1,2,3,4]

In [65]:
a[0]=12
a

[12, 2, 3, 4]

In [67]:
s[0]=100

# cant edit bcz it is immutable

TypeError: 'tuple' object does not support item assignment

In [18]:
# cant add any new item in tuple

In [ ]:
# we can del the whole tuple but cant change a single portion from a tuple

In [68]:
s

(1, 2, 3, 5, 6, 7, 3)

In [70]:
del(s)


# tuple del

NameError: name 's' is not defined

In [23]:
a=(2,3,4,5,2,5)
a

(2, 3, 4, 5, 2, 5)

In [24]:
del a[1]

# cant del a item from the tuple

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#  Tuple items can also be accessed using for loop and while loop.

In [27]:
s

(1, 2, 3, 5, 6, 7, 3)

In [29]:
for i in s:
    print(i)

1
2
3
5
6
7
3

In [ ]:
# operation 

# ( summation & multiplication)

In [31]:
a= (1,2,3)
b=(2,3,4)
a+b

(1, 2, 3, 2, 3, 4)

In [32]:
# membership opetor

In [33]:
1 in a

True

In [ ]:
#len
#sum
#min
#max
#sorted
# count
# index

In [37]:
len(s)

7

In [34]:
s

(1, 2, 3, 5, 6, 7, 3)

In [35]:
sorted(s)

[1, 2, 3, 3, 5, 6, 7]

In [36]:
sort(s)

# sort is not applicable in tuple

NameError: name 'sort' is not defined

In [41]:

s

(1, 2, 3, 5, 6, 7, 3)

In [38]:
s.count(1)

# hoow many times a no. is in the tuple

1

In [40]:
s.index(3)

# given item index

2

In [43]:
s.revered()

# reveresed is not peresent in the tuple

AttributeError: 'tuple' object has no attribute 'revered'

How to update python Tuples?

Interview question – can you change the tuple values? If Yes, how?

As we discussed above, tuples are immutable or unchangeable. So once a tuple is created we can’t change its value. But there is one way to do it.

First, convert the tuple to a list. Then change the value in the list. Finally, convert the updated list back to the tuple.

### Add items to tuples:

First, convert a tuple to a list, then use the append() method to add value to the list. Finally, convert back the list to the tuple.

Tuple does not allow you to add items to tuple but Python Tuple does allow you to add tuple to tuple.

In [15]:
state_tuple = ("Goa","Gujarat","Karnataka")
new_tuple = ("Kerala","Punjab")
state_tuple = state_tuple + new_tuple
print(state_tuple)

('Goa', 'Gujarat', 'Karnataka', 'Kerala', 'Punjab')

# interview question


https://www.jeevangupta.com/python-tuples-tutorial-learning-python-tuples-with-example/

In [ ]:
a=[]

In [77]:
a=['string','ratan','sumita','fr','srsjhdfjss','sregsg']
for i in a:
    if i.startswith('s'):
      print(i)

string
sumita
srsjhdfjss
sregsg